ngrok_log
.env
.directory

lib/.idea
project/.idea

project/dist
project/target
project/lib_managed
project/src_managed
project/project/boot
project/project/plugins/project
project/.history
project/.cache
project/.lib
project/project/target

lib/dist
lib/target
lib/lib_managed
lib/src_managed
lib/project/boot
lib/project/plugins/project
lib/project/target
lib/.history
lib/.cache
lib/.lib
