ngrok_log
.env
.directory

lib/.idea
project/.idea

project/bin/
/db
project/lib/
project/logs/
project/modules
project/project/project
project/project/target
project/target
project/tmp/
project/test-result
project/server.pid
project/*.eml
project/dist/
project/.cache

lib/dist
lib/target
lib/lib_managed
lib/src_managed
lib/project/boot
lib/project/plugins/project
lib/project/target
lib/.history
lib/.cache
lib/.lib
